html {
  box-sizing: border-box;
  font: normal 100%/1.5 "Roboto",sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.banner {
  position: relative;
}

.banner img {
  width: 100%;
  max-height: 500px;
  overflow: hidden;
}

.banner-content {
  position: absolute;
  bottom: 1em;
  width: 100%;
}

.banner-content h2,
.banner-content p {
  margin: 0;
}

.btn {
  display: inline-block;
  text-decoration: none;
  padding: 0.4em 0.75em;
  border: 3px solid #333;
  border-radius: 9px;
  color: #fff;
  background-color: #333;
}

.btn:hover {
  border-color: #000;
  background-color: #000;
}

.btn-big {
  font-size: 1.5rem;
}
