html {
  box-sizing: border-box;
  font: normal 100%/1.5 Roboto, sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.banner {
  position: relative;
  max-height: 500px;
  overflow: hidden;
}

.banner > img {
  width: 100%;
}

.banner-content {
  position: absolute;
  width: 100%;
  max-width: 50rem;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

h2 {
  font-size: 3rem;
  font-family: "Roboto Condensed";
  font-weight: bold;
  line-height: 1.2;
  margin: 0;
}

p {
  font-size: 1.5rem;
  margin: .8rem 0;
}

.banner-image {
  width: 35%;
  float: left;
  padding: 0 1rem;
}

.img-flex {
  display: block;
  width: 100%;
}

.banner-text {
  width: 65%;
  text-align: left;
  float: right;
  padding: 0 2rem;
}

.btn {
  display: inline-block;
  text-decoration: none;
  padding: .4em .75em;
  border: 3px solid #333;
  border-radius: 9px;
  color: #fff;
  background-color: #333;
}

.btn:hover {
  border-color: #000;
  background-color: #000;
}

.btn-big {
  font-size: 1.5rem;
}
